<h3 class="page-title">
{{page_title}}
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="index">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		{% for breadcrumb in request.breadcrumbs %}   
		<li>
			<a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
			{% if not forloop.last %} 
				<i class="fa fa-angle-right"></i> 
			{% endif %}
		</li>
		{% endfor %} 
	</ul>
	<div class="page-toolbar">
		<div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height grey-salt" data-placement="top" data-original-title="Change dashboard date range">
			<i class="icon-calendar"></i>&nbsp; <span class="thin uppercase visible-lg-inline-block">July 27, 2015 - August 25, 2015</span>&nbsp; <i class="fa fa-angle-down"></i>
		</div>
	</div>
</div>


